.seccion__contacto {
    background-image: url(../../images/contactoimg1.png);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    h2 {
      @include h2(white);
      text-align: center;
    }
    p {
      text-align: center;
      max-width: 450px;
      margin: auto;
      color: white;
    }
  
    .contenedor__form {
      padding: 25px;
      background-color: $color-secundario;
      max-width: 450px;
      margin: 25px auto;
      border-radius: 15px;
  
      form {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 350px;
        gap: 5px;
  
        input,
        textarea {
          padding: 0.5em;
          border: none;
          font-family: $secondary-font;
          color: gray;
          margin-bottom: 15px;
        }
  
        .botoncontacto {
            margin-top: 25px;
            border: none;
            padding: 0.5em 0;
            border-radius: 5px;
            background-color: $color-primario;
            color: white;
        }
      }
    }
    @media (max-width: 600px) {
      padding: 100px 0;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        max-width: 350px;
        margin: auto;
      }
  
      .contenedor__form {
        padding: 25px;
        background-color: $color-secundario;
        max-width: 350px;
        margin: 25px auto;
        border-radius: 15px;
  
        form {
          margin: auto;
          display: flex;
          flex-direction: column;
          max-width: 350px;
          gap: 5px;
  
          input,
          textarea {
            padding: 0.5em;
            border: none;
            font-family: $secondary-font;
            color: gray;
            margin-bottom: 15px;
          }
  
          .botoncontacto {
            margin-top: 25px;
            border: none;
            padding: 0.5em 0;
            border-radius: 5px;
            background-color: $color-primario;
            color: white;
          }
        }
      }
    }
  }