
.grilla{
    display: grid;
    margin-top:100px;
    max-width: 1440px;
    justify-content: space-between;
    grid-template-columns: 500px 850px;
    grid-template-rows: 600px 500px 200px 200px;
  
    .formularioglamp{
        background-color: rgb(219, 216, 216);
        width: 450px;
        margin: auto;
        margin-top: 40px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: seriftexto;
        gap: 5px;

        .cant-personas{
            width: 50px;
        }
    }

      .carrousel-glamping{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 800px;
            height: 500px;
        }

      }

      .botones-servicio{
        h3{
            font-size: 30px;
            text-align: center;
            color: $color-secundario;
        }
        .serviciosglamp {
            margin: auto;
            max-width: 450px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 20px 0;
    
            div{
                width: 120px;
                border-radius: 10px;
                text-align: center;
                font-weight: bold;
                font-size: smaller;
                color:white;
                height: 60px;
                display: flex;
                flex-direction: column;
                background-color: #989e8b;
                padding: 10px;
            }
    
          }
      }

      .detalleglamping h3{
        font-family: dmserif;
        color: #7b876d;
        font-size: 50px;
        text-align: center;

        p{
            font-family: seriftexto;
            font-size: 60px;
            font-weight: bold;
            text-align: center;
        }
      }

      .despensaglamping h3{
        @include h2 ($color-secundario);

        p{
            font-family: seriftexto;
            font-weight: bold;
            font-size: 60px;
            text-align: center;
            margin: 10px;
        }
      }

      .comidaglamping{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 800px;
            height: 500px;
        }
      }
    
        
}

@media (max-width: 600px) {
    
    .grilla{
        max-width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;

        .formularioglamp{
            width: 100%;
        }

        .carrousel-glamping{
            width: 100%;
            img{
                margin-top: 10px;
                width: 100%;
                height: 200px;
            }
        }

        .detalleglamping{
            text-align: center;
            h3{
                font-size: 30px;
                font-family: $primary-font;
            }
        }

        .despensaglamping{
            h3{
                font-size: 30px;
                margin-top: 10px;
            }
            
            text-align: center;
        }

        .comidaglamping{
            width: 100%;
            img{
                margin-top: 10px;
                width: 100%;
                height: 200px;
            }
        }

    
    }
}
    

